---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Info from '../sections/Info.astro';
import Testimonies from '../sections/Testimonies.astro';
import Pictures from '../sections/Pictures.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Body Canvas">
	<Header />
	<main>
		<Info />
		<Testimonies />
		<Pictures />
	</main>
	<Footer />
</Layout>

