---
import Layout from '../layouts/Layout.astro';
import Head from '../sections/Head.astro';
import Info from '../sections/Info.astro';
import Clients from '../sections/Clients.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
import Divider from '../components/Divider.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="ACIMPECABLE">
	<Navbar />
	<Head />
	<Info />
	<Divider />
	<Clients />
	<Divider />
	<Contact />
	<div class="flex flex-col justify-between">
		<Footer />
	</div>
</Layout>

