---

---

<section>
    <div class="fixed bottom-5 right-5">
        <a href="https://calendly.com/bodycanvas29/consulta-gratis?month=2024-03" class="btn-flotante p-4 bg-white rounded-full shadow-lg transition duration-300 ease-in-out flex items-center justify-center hover:bg-blue-700" target="_blank" rel="noopener noreferrer">
            <svg class="bi-calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#2A2F36" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
        </a>
    </div>
</section>

<style>
    .btn-flotante:hover {
      background-color: #2A2F36; /* Color del botón al hacer hover */
    }
    .btn-flotante:hover svg {
      fill: #FFFFFF; /* Color del ícono al hacer hover */
    }
</style>
