---
const { testimonio, nombre, fecha } = Astro.props;
---

<section>
    <div class="testimonial p-4 md:p-6">
        <blockquote class="italic text-white">"{testimonio}"</blockquote>
        <div class="mt-4 flex items-center justify-between">
          <div class="font-semibold text-gray-50">{nombre}</div>
          <div class="text-sm text-gray-500">{fecha}</div>
        </div>
      </div>
</section>