<section>
  <div class="flex justify-center items-center">
      <div class="w-full px-14"> <!-- Aplica padding horizontal para crear la sangría -->
        <div class="divider"></div>
      </div>
    </div>
</section>


<style>
.divider {
    background: linear-gradient(to right, #668a4c, #accc7b);
    height: 2px;
}
  </style>