<section>
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between py-12 px-4">
    <!-- Contenedor del logo ajustado para estar a la izquierda y centrado, con tamaño aumentado -->
    <div class="flex md:w-1/2 justify-center md:justify-center items-center flex-col">
      <img src="images/Good-Brand-Logo.png" alt="Good Brand Logo" class="animate-slide-in-bottom" loading="lazy" style="height: 200px;"/> <!-- Tamaño aumentado -->
    </div>
    <!-- Contenedor del texto ajustado para estar a la derecha -->
    <div class="md:w-1/2 text-left md:text-left">
      <h1 class="text-4xl font-bold mb-4 text-custom-color">Unidos con Good Brand</h1>
      <p class="text-lg mb-6">En <strong>AC&L IMPECABLE</strong>, nos enorgullece ser distribuidores oficiales de <strong>Good Brand</strong>, un referente en el mercado conocido por su compromiso inquebrantable con la calidad y la innovación. Nuestra colaboración con Good Brand no solo subraya nuestro compromiso con la excelencia sino también nuestra dedicación a ofrecer a nuestros clientes productos que definen estándares en la industria. Good Brand elige a sus socios basándose en valores compartidos de integridad, calidad y servicio al cliente, y estamos honrados de que hayan reconocido estos principios en nosotros.</p>
    </div>
  </div>
</section>

<style>
    .text-custom-color {
      color: #464646;
    }
</style>
