<section>
    <footer class="bg-[#03543f] text-white p-6">
      <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0">
        <div class="flex items-center space-x-2">
          <img src="images/LOGO_AC.png" alt="Logo" class="h-14">
        </div>
        <div class="text-center flex-1">
          © 2024 AC&L IMPECABLE. Todos los derechos reservados.
        </div>
      </div>
    </footer>
</section>