---

---

<section>
    <div class="flex justify-center">
        <div class="flex justify-center">
            <div class="mt-32 w-full max-w-4xl px-4 text-center animate-fade-in">
              <h1 class="text-4xl md:text-6xl font-bold mb-8 text-white">Obtén Resultados</h1>
              <p class="text-lg md:text-2xl text-white text-opacity-65">
                Facilitamos el camino para que jóvenes como tú eleven su autoestima y estética corporal sin perder más tiempo ni dinero
              </p>
              <p class="italic text-white text-opacity-20 mt-3">Este programa es solo para gente comprometida y disciplinada</p>
            </div>
        </div>
    </div>
</section>