<section>
  <div class="container mx-auto flex flex-col items-center py-12 px-4 mt-5">
    <div class="w-full mb-8 text-center">
      <h1 class="text-4xl font-bold mb-4 text-custom-color">¿Quiénes Somos?</h1>
    </div>
    <div class="w-full flex justify-center mb-8">
      <img src="images/item1.jpg" alt="Descripción de la imagen" class="max-w-lg rounded-lg shadow-lg" />
    </div>
    <div class="w-full">
      <p class="text-base mb-4 text-custom-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit facilis molestias, totam cum nostrum optio sit magnam necessitatibus alias, nam quisquam beatae deleniti eligendi numquam fugit modi qui natus voluptatum.</p>
    </div>
  </div>
</section>

<style>
.text-custom-color {
  color: #464646;
}
</style>



