---
import Gallery from "../components/Gallery.astro"
---

<section>
    <div class="flex justify-center mt-10 animate-slide-in-bottom">
        <div class="mt-32 w-full max-w-4xl px-4 text-center animate-fade-in">
            <h1 class="text-4xl md:text-6xl font-bold mb-8 text-white">Gabriel Marín</h1>
        </div>
    </div>
    <div class="flex justify-center mt-3 animate-slide-in-bottom">
        <Gallery />
    </div>
</section>