---
import Card_Testi from "../components/Card_Testi.astro"
---
<section>
    <div class="flex justify-center mt-10 animate-slide-in-bottom">
        <div class="mt-32 w-full max-w-4xl px-4 text-center animate-fade-in">
            <h1 class="text-4xl md:text-6xl font-bold mb-8 text-white">Testimonios</h1>
        </div>
    </div>

    <div class="container mx-auto px-4">
        <Card_Testi testimonio="Conozco a Gabriel varios años. me empuja a sacar lo mejor de mí. Mucho conocimiento y los resultados hablan por sí solos." nombre="Mathias Suárez" fecha="Enero 1, 2024" />
        <hr class="my-8" />
        <Card_Testi testimonio="Trabajo desde Suiza con Gabriel y he visto los mejores resultados a pesar de la distancia. Excelente coach." nombre="Alessandro Metzger" fecha="Enero 2, 2024" />
        <hr class="my-8" />
        <Card_Testi testimonio="Gabriel me convenció de ir al gym. Empezar el gimnasio cambió mi vida y Gabriel siempre me ayudó en lo que necesitaba." nombre="Emilio Loor" fecha="Enero 3, 2024" />
        <hr class="my-8" />
    </div>
</section>